@import "../utils/utils.scss";
.login-content {
  padding: 15px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
.login-form-button {
  height: 45px;
  align-items: center;
  width: 33%;}
.spin-version {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; }
.spin-version-icon {
  font-size: 120px;
  margin-bottom: 25px;
  width: 110px; }
//h2 {
//  margin-bottom: 5%;
//  text-align: center;
//  font-size: 30px}
.avatar-uploader {
  > .ant-upload {
    margin: auto;
    width: 77%;
    border-radius: 60%;
  }
}
