.ant-content {
  background: #f0f2f4;
  .ant-content-text {
    background: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ant-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      @media (max-width: 767px) {
        min-width: 100%;
      }
    }
    .ant-maps{
      overflow: hidden;
      div {
        width: 100%;
        height: auto!important;
      }
    }

    .ant-text {
      padding: 20px;
      width: 50%;
      min-width: 50%;
      p {
        text-align: justify;
      }
      @media (max-width: 767px) {
        padding: 20px 0;
        min-width: 100%;
      }
    }

    .ant-img {
      border: 1px solid red;
      width: 50%;
      img {
        display: block;
        width: 100% !important;
        height: 200px !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.modules {
  overflow: auto;
  margin: 20px 40px;
}

.grid-modules {
  grid-template-columns: repeat(5, 20%);
  min-width: 750px;
  min-height: 490px;
  width: 100%;
  .grid-module {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    div:first-child {
      min-width: 120px;
      background: gray;
      color: white;
    }
    div {
      display: flex;
      text-align: center;
      min-width: 120px;
      width: 100%;
      margin: 1px;
      padding: 5px;
      justify-content: center;
      align-items: center
    }
  }
}

.background {
  &-green {
    background: yellowgreen;
    color: white;
  }
  &-purple {
    background: rebeccapurple;
    color: white;
  }
  &-dark-cyan {
    background: darkcyan;
    color: white;
  }
  &-cyan {
    background: cyan;
    color: white;
  }
}

.ant-clients {
  width: 90%;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px 40px 40px;
  div {
    margin: 10px;
  }
  .functionalities {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .functionality {
      h2 {
        color: #408Bfc
      }
      padding: 15px;
      border: 1px #f9f9f9 solid;
      background: #fff;
      max-width: 260px;
      width: 100%;
      min-width: 30%;
      //-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.18);
      //-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.18);
      //box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.18);
    }
  }
  @media (max-width: 767px) and (orientation: portrait) {
    & {
      padding: 10px;
      .functionalities {
        .functionality {
          max-width: 95%;
        }
      }
    }
  }
  @media (max-width: 850px) and (orientation: landscape) {
    & {
      padding: 10px;
      .functionalities {
        .functionality {
          max-width: calc(90vw / 2 - 40px);
          width: 100%;
        }
      }
    }
  }
}

