.ibm-content{
  background: #f0f2f4;
  .ibm-content-text{
    background: white;
    padding: 20px 18px 0 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ant-banner {
      background: url("./res/images/ibm-cloud.jpeg") center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      @media (max-width: 767px) {
        min-width: 100%;
      }
    }

    .ant-text {
      padding: 20px;
      width: 50%;
      min-width: 50%;
      p {
        text-align: justify;
      }
      @media (max-width: 767px) {
        padding: 20px 0;
        min-width: 100%;
      }
    }

    .ant-img {
      border: 1px solid red;
      width: 50%;
      img {
        display: block;
        width: 100% !important;
        height: 200px !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .about-erp {
    display: flex;
    min-height: 200px;
    div {
      width: 50%;
      display: flex;
      align-items: flex-start!important;
      flex-direction: column;
      flex-wrap: wrap;
      @media (max-width: 600px ) {
        width: 100%;
      }
      .about {
        width: 100%;
        p{
          text-align: center;
          margin: 10px;
          width: 140px!important;
        }
        display: flex;
        flex-direction: row!important;
        justify-content: space-evenly;
      }
    }
  }
}
