.about-us-content {
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  .about-us-banner {
    //background: linear-gradient(to left,
    //        rgba(253, 255, 252, 0.1),
    //        rgba(2, 2, 2, 0.8)
    //), url("./../../res/images/about-us.png") center center;
    //background-image: url("./../../res/images/about-us.png");
    background-size: cover;
    height: 300px !important;
    width: 50%;
  }

  .about-us-text{
    width: 45vw;
    min-width: 50%;
    p{
      text-align: justify;
    }
    @media (max-width: 767px) {
      min-width: 100%;
    }
  }

  .about-us-img {
    width: 50%;
    img {
      display: block;
      width: 100% !important;
      height: 200px !important;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
