@import "../utils/utils.scss";

.login {
  &-content {
    padding: 15px;
    background: #009FFF;
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-card {
      width: 400px;

      h3 {
        color: red;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 900px) {

  .input {
    width: 200px;
  }

  .login {
    &-content {
      padding: 20px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        text-align: center;
        margin-bottom: 20px;
      }

      .login-card {
        width: 250px;
      }
    }
  }
}


