$bluehover : #1890ff;

$primary_size : 8px;
$secondary_size: 16px;
$tertiary_size : 24px;

$color_primary: #1890ff;
$color_success: yellow;
$color_cancel: #EF5350;

$tablet-width: 768px;
$desktop-width: 1024px;

/*****************
Margin
******************/

.m{
  &_1 {
    margin: $primary_size;
  }
  &_2 {
    margin: $secondary_size;
  }
  &_3 {
    margin: $tertiary_size;
  }
  &_auto {
    margin: auto;
  }
}

.ml{
  &_1 {
    margin-left: $primary_size;
  }
  &_2 {
    margin-left: $secondary_size;
  }
  &_3 {
    margin-left: $tertiary_size;
  }
  &_auto {
    margin-left: auto;
  }
}

.mr{
  &_1 {
    margin-right: $primary_size;
  }
  &_2 {
    margin-right: $secondary_size;
  }
  &_3 {
    margin-right: $tertiary_size;
  }
  &_auto {
    margin-right: auto;
  }
}

.mt{
  &_1 {
    margin-top: $primary_size;
  }
  &_2 {
    margin-top: $secondary_size;
  }
  &_3 {
    margin-top: $tertiary_size;
  }
  &_auto {
    margin-top: auto;
  }
}


.mb{
  &_1 {
    margin-bottom: $primary_size;
  }
  &_2 {
    margin-bottom: $secondary_size;
  }
  &_3 {
    margin-bottom: $tertiary_size;
  }
  &_auto {
    margin-bottom: auto;
  }
}

/*****************
Padding
******************/

.p{
  &_1 {
    padding: $primary_size;
  }
  &_2 {
    padding: $secondary_size;
  }
  &_3 {
    padding: $tertiary_size;
  }
  &_auto {
    padding: auto;
  }
}

.pl{
  &_1 {
    padding-left: $primary_size;
  }
  &_2 {
    padding-left: $secondary_size;
  }
  &_3 {
    padding-left: $tertiary_size;
  }
  &_auto {
    padding-left: auto;
  }
}

.pr{
  &_1 {
    padding-right: $primary_size;
  }
  &_2 {
    padding-right: $secondary_size;
  }
  &_3 {
    padding-right: $tertiary_size;
  }
  &_auto {
    padding-right: auto;
  }
}

.pt{
  &_1 {
    padding-top: $primary_size;
  }
  &_2 {
    padding-top: $secondary_size;
  }
  &_3 {
    padding-top: $tertiary_size;
  }
  &_auto {
    padding-top: auto;
  }
}


.pb{
  &_1 {
    padding-bottom: $primary_size;
  }
  &_2 {
    padding-bottom: $secondary_size;
  }
  &_3 {
    padding-bottom: $tertiary_size;
  }
  &_auto {
    padding-bottom: auto;
  }
}


/*****************
Icon
******************/

.icon{
  &_cursor:hover{
    cursor: pointer;
  }
  &_primary{
    color: $color_primary;
  }
  &_success{
    color: $color_success;
  }
  &_delete{
    color: $color_cancel;
  }
}

/*****************
Sizes
******************/

.size{
  &_primary{
    font-size: $primary_size;
  }
  &_scundary{
    font-size: $secondary_size;
  }
  &_tertiary{
    font-size: $tertiary_size;
  }
}

/*****************
Buttons
******************/

.square-button{
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  text-align: center !important;

  i{
    width: 100%;
    font-size: 2em;
  }

  span{
    margin: auto !important;
  }

}

/*****************
Divider
******************/

.divider-gray{
  background-color: rgba(255,255,255, .4) !important;
  height: 2px !important;
}

/*****************
Buttons
******************/

.square {
  width: 110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  i {
    width: 100%;
    font-size: 2em;
  }
  svg {
    margin: auto;
  }

  span {
    padding-top: 5px;
    font-size: 13px;
    margin: auto !important;
  }

}

/*****************
Mixins Responsive
******************/


@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}